node_modules
.git
.gitignore
frontend/node_modules
backend/node_modules
frontend/cypress/
frontend/cypress/screenshots/
frontend/cypress/videos/
frontend/cypress/downloads/
logs
.DS_Store
*.log
*.md
xunit/
*.test.js
*.spec.js
.env
.env.*